@import url("../webfonts/Axiforma_Medium/stylesheet.css");
/*
Welcome to my attempt at a stylesheet! Let's see what I can do with this boy.
*/
@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src:url('https://cakeplops.com/fonts/Axiforma-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Regular.ttf') format('truetype');
  font-weight: normal;  
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('https://cakeplops.com/fonts/Axiforma-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src:url('https://cakeplops.com/fonts/Axiforma-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

html {
    background-color: #fafbfc;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

body {
    margin: 0px;
    font-family: 'Axiforma', sans-serif;
    font-weight: 400;
    background-color: #fafbfc;
}

a {
  text-decoration: none;
  color: #111;
}

a:link:visited {
  color: #111;
}

a:link:hover {
  color: #111;
}

a:hover {
  color: #111;
}

.stronglink {
  font-weight: 600;
}

h1 {
  font-size: 250%;
  color: #111111;
  text-align: center;
  font-family: 'Axiforma', sans-serif;
  font-weight: 900;
  line-height: 1.15em;
  padding: 0px 10px 0px 10px;
}

h2 {
    font-size: 44px !important;
    color: #111111;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 35px;
    font-family: 'Axiforma', sans-serif;
    font-weight: normal;
    line-height: 120%;
}

h3 {
  width: 100%;
  color: #454545;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px;
  font-family: 'Axiforma', sans-serif;
  font-size: 28px !important;
}

p {
  color: #454545;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 10px 0px 10px;
  font-family: 'Axiforma', sans-serif;
  font-size: 20px !important;
}

#about  {
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
    max-width: 1600px;
}

.about-column {
  width: 30%;
  height: 100vh;
	position: fixed;
	left: 0;
  display: flex;
	margin: auto;
}

.about-column-content {
  width: 72%;
	margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
	flex-flow: column;
}

.profile {
  min-height: 70vh;
  display: flex;
  align-content: center;
  width: 80%;
  margin: 0;
  justify-content: center;
}

.profile-pic {
    width: 75%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 25px;
}

#logo-img {
  width: 100%;
  max-width: 500px;
  margin: 25px auto 10px auto;
}

.intro-section-wrapper {
    width: 100%;
    height: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: #FFFFFF;
    border-bottom: 10px solid #F33033;
    max-width: 1600px;
}

.intro-section-text {
    max-width: 100%;
	margin: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: column;
	text-align: center;
}

.intro-section-text p{
  font-size: 25px;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

.intro-section-text h1 {
    font-size: 6vw !important;
    line-height: 120% !important;
    margin: 0;
    padding-bottom: 50px;
    text-align: center;
    color: #444;
    letter-spacing: 3px;
}

.colorchange-text {
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    padding-bottom: 150px;
    margin-bottom: 150px;
}

.menu-text {
	display: inline-block;
	transition: all .3s ease;
}

#menu-1 {
	color: #ff6540;
	transition: all 0.3s ease;
}

#menu-2 {
    color: #A910EC;
    transition: all 0.3s ease;
}

#menu-3 {
	color: #ffeb0d;
	transition: all 0.3s ease;
}

.black-inactive {
	color: #111 !important;	
	text-transform: none !important;
    transition: all 0.3s ease;
}

@keyframes changeColor {
  0% {
    color: #111111;
  }

  20% {
    color: #ff7d01;
  }

  40% {
    color: #ad11dd;
  }

  60% {
    color: #2dc22d;
  }

  80% {
    color: #8fcff9;
  }

  100% {
    color: #111111;
  }
}

.profile-pic img {
  width: 100%;
  max-width: 650px;
  border-radius: 80% 20% 50% 50% / 50% 38% 62% 50%;
  box-shadow: #35353566 2px 2px 5px 1px;
  animation-name: blob;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes blob {
  0% {
    border-radius: 80% 20% 50% 50% / 50% 38% 62% 50%;
  }

  20% {
    border-radius: 42% 53% 45% 50% / 61% 46% 52% 19%
  }

  40% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%
  }

  60% {
    border-radius: 27% 53% 37% 35% / 24% 28% 60% 67%;
  }

  80% {
    border-radius: 63% 32% 30% 50% / 81% 46% 52% 19%;
  }

  100% {
    border-radius: 30% 70% 20% 50% / 40% 38% 62% 50%;
  }
}

.question-box {
    display: block;
    box-shadow: 0 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0px;
}

.question-bar {
  display: flex;
  font-family: "Special Elite";
  color: #fff;
  align-items: flex-end;
  font-size: 28px;
  background: #ff9966;
  height: 50px;
  text-align: left;
  padding: 15px 15px 0 15px;
  margin: -40px -40px 20px -40px;
  border-radius: 15px 15px 0 0;
}

.form-label {
    font-family: "Axiforma Medium";
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2em;
    cursor: text;
}

.form-input {
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    border-radius: .25em .25em 0 0;
    font-family: "Special Elite";
    text-align: left;
    font-size: 20px;
    background-color: #eee;
    margin-bottom: 30px;
    padding-left: 13px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 4px solid;
    transition: all .25s ease-in-out;
}

.form-input:focus {
  background-color: #e4e4e4;
  outline-style: none;
  border-bottom: #177bbd 4px solid;
  transition: all .25s ease-in-out;
}

#submit {
  -webkit-appearance: none;
  font-family: 'Axiforma Black', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  background-color: #FF9966;
  border: none;
  border-radius: 5em;
  transition: all .20s ease-in-out;
  cursor: pointer;
}

#submit:focus {
  background-color: #8fcff9;
  border: #8fcff955 8px solid;
}

#submit:hover {
  background-color: #8fcff9;
  border: #8fcff955 8px solid;
}


#popup {
  display: none;
  padding: 40px 20px 40px 20px;
  font-size: 25px;
  font-family: "Special Elite";
  background: #eee;
  position: absolute;
  width: 60%;
  max-width: 1034px;
  height: auto;
  border-radius: 40px;
  border: #f96 3px solid;
}

#blackout {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000BD;
  z-index: 2;
}

.modal-text {
  width: 75%;
  margin-left: 12.5%;
  padding-bottom: 20px;
}

.form-popup-button {
  width: 80%;
  margin: 2%;
  max-width: 300px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-image: linear-gradient(0deg, #8fcff9, #8fcff9, #add8f5);
  transition: .15s ease-in-out;
  border-radius: 50px;
  color: #353535 !important;
  font-weight: bold;
}

.form-popup-button:hover {
  color: #555555;
  box-shadow: 1px 3px 6px 0px #2222224d;
  transition: .15s ease-in-out;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #000000b3;
  width: 100px;
  height: 65px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 999;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: #000000e6;
}

#return-to-top:hover i {
  color: #fff;
  top: 2px;
  font-size: 26px;
}

section {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
    max-width: 1600px;
    flex-direction: column;
}

section:nth-of-type(even) {
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.section-media {
    width: 80%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-right: auto;
    max-width: 1600px;
    margin-left: auto;
}

.section-media>img {
  width: 300px;
}

.section-text {
    width: 80%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 200px;
}

.section-text-wrapper {
    max-width: 85%;
}

.section-text-wrapper h1 {
    font-size: 50px;
    line-height: 3.75rem;
    margin: 0;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: 2px;
    max-width: none;
}

.section-text-wrapper p {
  font-size: 25px;
  line-height: 1.5em;
  margin: auto;
  width: 100%;
}

hr {
    width: 70%;
    color: #35353566;
    margin: 0 auto 0 auto;
}

.footer {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 120px;
    max-width: 1600px;
}

.single-item p {
  padding-bottom: 40px;
  font-size: 14px;
}

.slide-container {
	padding: 40px; 
	width: 75%; 
	margin-left: auto; 
	margin-right: auto;
}

.slick-next:before,
.slick-prev:before {
  color: #444 !important;
  font-size: 25px !important;
}

.slick-track {
  height: 500px;
}

.slick-slide img {
  height: auto;
  max-width: 100%;
  max-height: 500px;
  margin: auto;
}

.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-height: 500px;
}



@media screen and (max-width: 1300px) {
	
	body {
		background-size: 300% auto;
	}
  .about-column {
    width: 100%;
    height: auto;
    padding: 60px 0 150px 0;
    position: static;
    display: flex;
    margin: auto;
    border-right: none;
  }
  
  .about-column-content {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  #logo-img {
    width: 69%;
    margin: 25px auto 35px auto;
  }

  #about {
    padding-top: 40px;
	  width: 90%;
    height: auto;
    max-width: 1600px;
  }

  h1 {
    font-size: 175%;
    padding: 0px 10px 0px 10px;
  }

  h2 {
    font-size: 32px !important;
  }

  p {
    width: 90%;
    font-size: 17px;
  }

  #menu-1 {
    color: #ff6540 !important;	
  }
  
  #menu-2 {
    color: #275fff !important;	
  }
  
  #menu-3 {
    color: #ffeb0d !important;	
  }

  .profile-pic {
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: block;
  }

  .profile-pic img {
    width: 100%;
    height: auto;
  }
	
.intro-section-wrapper {
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 50px 25px;
    background-color: #FFFFFF;
    border-bottom: 10px solid #E4494B;
    max-width: 1600px;
	margin-bottom: 100px;
}

.intro-section-text {
    max-width: 95%;
    margin: auto;
    border-radius: 20px;
}

.intro-section-text p{
    font-size: 25px;
    margin: auto 0;
    padding-bottom: 25px;
}

.intro-section-text h1 {
    font-size: 15vw !important;
	padding-bottom: 10px;
}

  .colorchange-text {
    max-width: 100%;
    line-height: 20px !important;
		margin-bottom: 10px;
	  padding-bottom: 10px;
  }
	
	.col-xl-3 {
		margin-bottom: 55px !important;
	}

  header {
    min-height: 70vh;
    padding: 4vh;
  }

  section {
    width: 100%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    height: auto;
    padding-bottom: 0px;
    max-width: 1600px;
    justify-content: center;
  }

  .section-media {
    width: 80%;
    min-height: 25vh;
    height: auto;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-media>img {
    max-width: 75%;
    max-height: 250px;
    width: auto;
    height: auto;
    padding: 30px;
  }

  .section-text {
    width: 90%;
    height: auto;
  }

  .section-text-wrapper h1 {
    font-size: 8vw;
    line-height: 120%;
    padding-bottom: 30px;
    width: auto;
  }

  .section-text-wrapper p {
    font-size: 17px;
    line-height: 1.5em;
    text-align: center;
    width: auto;
  }

  hr {
    width: 60%;
    color: #35353566;
    margin: 0 auto 0 auto;
  }

  .footer {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 50px;
    height: 690px;
  }

  #3d {
    padding-bottom: 35px;
  }
	
.slide-container {
	padding: 20px; 
	width: 100%; 
}

  .slick-track {
    height: 300px;
  }

  .slick-slide img {
    max-height: 300px;
  }

  .slick-initialized .slick-slide {
    max-height: 300px;
  }


}
